@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
    font-family: "Trajan-Regular";
    src: url("../public/fonts/Trajan-Regular.ttf") format('truetype');
}
}

@layer components {
    .overflow-scroll::-webkit-scrollbar { 
        display: none; 
    } 
  }

